@charset "UTF-8";



html, body, nav, main, header, left, right, footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../images/skogen.jpg');
}

h1{
    font-size: 80px;
    text-align: center;
    color: white;
    padding: 30px 0 30px;

}
h2{
    font-size: 40px;
    text-align: center;
    color: white;
}
h3{
    font-size: 40px;
    color:white
}
h4{
    font-size: 20px;
    margin: 10px;
    color: white;
}

p{
    font-size: 20px;
    color: white;
}

/* h3.bjorn{
    color: red;
} */



.mintransition{
    font-size: 20px;
    color: white;
}


.mintransition:hover{
    font-size: 25px;
    font-weight: bold;
}


#menuicon, #menucheckbox {
    display: none;
    margin-left: 10px;
}

.boxWrap{
    position: relative;
    display: block;
    margin-right: 2em;
}

#showbox1{
    display: none;
}

#showbox1 ~ div {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
#showbox1:checked ~ div {
    transform: scaleY(1);
}

#showbox2{
    display: none;
}

#showbox2 ~ div {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
#showbox2:checked ~ div {
    transform: scaleY(1);
}

#showbox3{
    display: none;
}

#showbox3 ~ div {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
#showbox3:checked ~ div {
    transform: scaleY(1);
}

#showbox4{
    display: none;
}

#showbox4 ~ div {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
#showbox4:checked ~ div {
    transform: scaleY(1);
}

#showbox5{
    display: none;
}

#showbox5 ~ div {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
#showbox5:checked ~ div {
    transform: scaleY(1);
}


left ul {
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 0.9rem;
    flex-direction: column;

}

body{
    display: grid;
    grid-template-columns: 150px auto 150px ;
    grid-template-rows: 250px auto 80px;
    grid-template-areas:
    "header header header"
    " left    main  right"
    "footer footer footer";
    background-color: rgb(207, 207, 204);
}

header{
    grid-area: header;
    background-size: cover;
    background-position:center;
    background-color: black;
}

left{
    grid-area: left;
    /* padding: 15px;
    position: fixed; */
}

right{
    grid-area: right;
}

main{
    grid-area: main;
    padding: 20px;

}

footer{
    grid-area: footer;

}

img{
    /* max-width: 50%;
    max-height: 50%; */
    width: 550px;
    height: 450px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right:auto;

    border: 10px solid white;
    border-radius: 4px;
    padding: 2px;
}



@media screen and (max-width: 770px){
    body{
        grid-template-columns: auto 120px;
        grid-template-rows: 250px 50px auto 50px;
        grid-template-areas:
        "header  header"
        "left    left"
        "main    right"
        "footer  footer";
    }
    left ul{
        flex-direction: row;
        margin-right: 0px;
    }

    img{
        height: 400px;
        border-width: 7px;
    }

}

@media screen and (max-width:410px){

    #menuicon {
        display: inline-block;
        background-image: url('../images/menuicon.png');
        width: 48px;
        height: 48px;
        cursor: pointer;
    }

    #menucheckbox {
        display: none;
    }

    #menucheckbox ~ ul {
        display: none;
    }

    #menucheckbox:checked ~ ul {
        display: flex;
    }

    body{
        display: block;
    }
    nav{
        display: inline;
    }

    left ul{
    flex-direction: column;
    position: relative;
    }

    img{
        height: 350px;
        border-width: 5px;
    }





}
